html,
body {
  margin: 0px;
  padding: 0px;
}
#main-container {
  display: flex;
  height: 100%;
  background-color: lightcyan;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}
#main-container div {
  /* position: absolute; */
  min-width: 25vw;
  min-height: 100vh;
}
#main-character {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

#main-character img {
  display: none;
  max-width: 150px;
  max-height: 150px;
}
#main-character img:first-child {
  display: block;
}
